.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0;
  /*transform: rotate(0deg);*/
}

.App-logo:hover {
  transform: rotate(180deg);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: 14px;
  color: white;
  padding-left: 35vh;
  padding-right: 35vh;
}

.App-link {
  color: #61dafb;
}

input {
  display: none;
}

label {
  background-color: rgba(255, 255, 2555, 0.5);
  padding: 1em 2em 1em 2em;
  border-radius: 15px;
  font-size: 0.5cm;
  display: inline-block;
}

label:hover {
  background-color: rgba(255, 255, 2555, 0.25);
  cursor: pointer;
}

dd {
  font-size: 3vh;
}