.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0;
  /*transform: rotate(0deg);*/
}

.App-logo:hover {
  transform: rotate(180deg);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: 14px;
  color: white;
  padding-left: 35vh;
  padding-right: 35vh;
}

.App-link {
  color: #61dafb;
}

.App-sidebar {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 35vh;
  max-width: 35vh;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  transition-delay: 0;
  transform: translate(-30vh, 0);
  background-color: rgba(255, 255, 255, 0.5);
}

.App-sidebar:hover {
  transform: translate(0, 0);
}

.App-sidebar ul {
  list-style-type: none;
  font-size: 10px;
}

.App-sidebar li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.App-fileBrowser {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  color: #000000;
}

#fileBrowser-preview {
  width: 100%;
}

input[type=file] {
  display: none;
}

label {
  background-color: rgba(255, 255, 2555, 0.5);
  padding: 1em 2em 1em 2em;
  border-radius: 15px;
  font-size: 0.5cm;
  display: inline-block;
}

label:hover {
  background-color: rgba(255, 255, 2555, 0.25);
  cursor: pointer;
}

dd {
  font-size: 3vh;
}